.thumbnail {
	color: black;
	padding: 4px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 3px solid #111;
	margin-bottom: 1em;

}

.thumbProj {
	border: none;
}

.thumbProj:hover {
	background-color: #e6e6e6;
}
/*
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 97.3%;
  width: 92.2%;
  margin-left: 4%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.thumbProj:hover .overlay {
  opacity: .3;
}
*/
.headBackground {
	background-image: url("./img/background.jpg");
	background-size:100% 100%;
	height: 760px;
	width: 100%;
}

.imgHeader {
	margin-top: 50%;
	text-align: center;
	color: white;
	padding: 10px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 9px solid #ffffff;
}

.navbar-default {
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 0);
	background-image: none;
	box-shadow: none;
	color: black;
	padding-top:30px;


}

.navbar-default .navbar-nav>li>a {
	color: white;

}

.navbar-default .navbar-nav>li>a:hover {
	background-color: white;

}

.navbar-collapse {
	float: right;
}

.aboutBackground {
	height: 46em;
}

.aboutCon {
	margin-top: 7em;
}

.aboutTitle {
	text-align: center;
	color: black;
	padding: 10px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 9px solid #111;
	margin-bottom: 1em;
}

.aboutText{
	margin-top: 2em;
	font-size: 20px;
}

.projectsBackground {
	background: #969696;
	height: 55em;
	padding-top: 1em;
}

.projectsTitle {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	text-align: center;
	color: white;
	padding: 10px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 9px solid white;
}

.blogBackground {
	height: 48em;
	padding-top: 1em;
}

.blogTitle {
	margin-top: 1.5em;
	text-align: center;
	color: black;
	padding: 10px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 9px solid black;
}

.blogCon {
	margin-top: 1em;
}

.blogRow {
	height: 30em;
	margin-top: 6.1em;
}

@media screen and (min-width: 768px) {
	.blogThumb {
	height: 22em;
	}

}

.footBackground {
	height: 8em;
	background: #2f2f2f;
	color: white;
}
